#pcan usb devices
#upper usb plug, always plug in pcan module for neck/tablet
KERNELS=="2-2" SUBSYSTEM=="usb_device",SYSFS{idVendor}=="0c72",SYMLINK+="pcanneck"
#lower usb plug, always plug in pcan module for arm
KERNELS=="2-1" SUBSYSTEM=="usb_device",SYSFS{idVendor}=="0c72",SYMLINK+="pcangarm"

#firewire camera devices
KERNEL=="raw1394*",GROUP="users",MODE="0664"
KERNEL=="video1394*",GROUP="users",MODE="0664"

#Logitech Joypad
SUBSYSTEM=="usb",ATTR{idVendor}=="046d",ATTR{idProduct}=="c219",SYMLINK+="joypad"

#Logitech Webcam
SUBSYSTEM=="usb",ATTR{idVendor}=="046d",ATTR{idProduct}=="0809",SYMLINK+="video",GROUP="users"

#Laserscanner
SUBSYSTEM=="tty",ATTRS{bInterfaceNumber}=="00",ATTRS{../idProduct}=="6010",MODE="0666",SYMLINK+="ttyScan0"
SUBSYSTEM=="tty",ATTRS{bInterfaceNumber}=="01",ATTRS{../idProduct}=="6010",MODE="0666",SYMLINK+="ttyScan1"

#Relaisboard
SUBSYSTEM=="tty",ATTRS{idVendor}=="0403",ATTRS{idProduct}=="6001",MODE="0666",SYMLINK+="ttyRelais"

#Hokyuo
SUBSYSTEMS=="usb", KERNEL=="ttyACM[0-9]*",MODE="0666"

#Tactile Sensors
SUBSYSTEM=="tty",ATTRS{idVendor}=="067b",ATTRS{idProduct}=="2303",SYMLINK+="ttyTact"

#Phidget rules for tray sensor
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="0925", ATTRS{idProduct}=="8101", MODE="666"
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="0925", ATTRS{idProduct}=="8104", MODE="666"
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="0925", ATTRS{idProduct}=="8201", MODE="666"

# All current and future Phidgets - Vendor = 0x06c2, Product = 0x0030 - 0x00af
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="06c2", ATTRS{idProduct}=="00[3-a][0-f]", MODE="666"

